*{
    box-sizing: content-box;
    margin: 0;   
}

a{
    color: white;
}

.main{
    margin-top: 1px;
    padding: 2rem 1.5rem;
    background: whitesmoke;
    min-height: calc(100vh - 50px);
}

.notification{
    display: none;
    background-color:	#c9cece;
    height: 100%;
    position:fixed;
    right: 0;
    max-width: 356px;
    top: 0;
    overflow: scroll;
   
}

.notification::-webkit-scrollbar {
    display: none;
}

.alertHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: rgb(12, 11, 11);

    p{
        text-align: center;
    }
    
    img{    
        max-width: 100%;
        height: auto;
        margin: 29.66px;
    }
   
    small{
        text-align: center;
        font-size: 15px;
    }
}




